<%= form_with model: book do |form| %>
  <div>
    <%= form.text_field :attr, placeholder: "Cookbook Title" %><br>

    <%= form.text_field :attr, placeholder: "Author" %><br>

    <%= form.text_field :attr, placeholder: "Rating 1-10" %><br>
    <%= form.submit "Add to Shelf", class: "button" %>
  </div>

<div>
  <%= form.submit class: "button" %>
</div>

  <% end %>