
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th><%= link_to "Author", :sort => "author" %></th>
      <th><%= link_to "Rating", :sort => "rating" %></th>
    </tr>
  </thead>
  
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.rating %></td>
    </tr>
    <% end %>
  </table>
