<h1><%= @book.title %></h1>

<p><%= @book.author %></p>
<p><%= @book.rating %></p>

<ul>
  <li class="button"><%= link_to "Edit", edit_book_path(@book) %></li>
  <li class="button"><%= link_to "Destroy", book_path(@book), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>                    
</ul>

# try removing resources, manually add all routes
# resources only: show, edit, create (look up syntax)
# match up route#controller action matches method name
# might need to get rid of link_to (magic stuff with turbo method?!)